.experts-container {
  padding-top: 30px;
  background-image: url("https://www.linkpicture.com/q/Bg_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}
.expert-text {
  color: #2f281e;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: white;
}

.expert-img {
    width: 70px;
    height: 70px;
}
