.footer {
  background-color: #f2f8fb;
  text-align: left;
  margin-top: 30px;
}

.footer-text {
  font-size: 14px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #263E70;
}
a:hover {
  color: #02897a;
}
.footer-title {
  color: #02897a;
  font-size: 24px;
  font-weight: 500;
}
